@import url(http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic);
.ui-page{

	color: white;
	text-shadow: none;
	font-family: 'Lato', sans-serif;
}


#frases-home{

	background-color: #16A085;
	background-size: cover;
}

#frases-home .ui-header{
	background-color: transparent;
	border: none;
}

#frases-home .ui-header h1{
	font-size: 22px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin: 10px;
	text-shadow: none;
	color: white;
}



#frases-home .ui-footer{
	background-color: transparent;
	border: none;
}

#frases-home .ui-footer h4{
	font-size: 20px;
	font-weight: 300;
	margin: 14px 10%;
	text-shadow: none;
	color: white;
}

#frases-home .ui-content{
	padding-top: 5%;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 22px;
}

#frases-home .ui-content i{
	padding-top: 2%;
	margin: 0 auto;
	color: white;
}

 #frases-home .ui-content  i:hover{
	color: #424242;
}


